dist: trusty
sudo: required
language:
  - cpp
compiler:
  - gcc
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-6
      - g++-6
      - cmake
script: 
    - mkdir -p build 
    - cd build 
    - export CXX=/usr/bin/g++-6
    - cmake ..
    - make all